/*
 * FONTS
 */
@font-face {
  font-family: 'BebasNeueRegular';
  src: url("fonts/bebas.eot");
  src: url("fonts/bebas.eot?#iefix") format("embedded-opentype"), url("fonts/bebas.woff") format("woff"), url("fonts/bebas.ttf") format("truetype"), url("fonts/bebas.svg#BebasNeueRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'DJ5';
  src: url("fonts/dj5.eot");
  src: url("fonts/dj5.eot?#iefix") format("embedded-opentype"), url("fonts/dj5.woff") format("woff"), url("fonts/dj5.ttf") format("truetype"), url("fonts/dj5.svg#dearJoe5CAdearJoe5CASUALtrial") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Mon';
  src: url("fonts/montserrat-regular.eot");
  src: url("fonts/montserrat-regular.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat-regular.svg#montserrat-regular") format("svg"), url("fonts/montserrat-regular.woff") format("woff"), url("fonts/montserrat-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Mon';
  src: url("fonts/montserrat-bold.eot");
  src: url("fonts/montserrat-bold.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat-bold.svg#montserrat-bold") format("svg"), url("fonts/montserrat-bold.woff") format("woff"), url("fonts/montserrat-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

body {
  font-family: Lato, sans-serif !important; }

h1, h2, h3, h4, h5, h6 {
  font-family: Lato, sans-serif !important; }

div.max-width-960 {
  max-width: 960px; }

.venue-logo-font {
  font-family: "BebasNeueRegular"; }

.clear {
  clear: both; }

.font-fam {
  font-family: "Mon",Arial,sans-serif !important; }

.fs-18 {
  font-size: 18px; }

.fs-16 {
  font-size: 16px; }

.fs-20 {
  font-size: 20px; }

.fs-22 {
  font-size: 22px; }

.fs-26 {
  font-size: 26px; }

.fs-45 {
  font-size: 45px; }

.fs-38 {
  font-size: 38px; }

.fs-15 {
  font-size: 15px; }

@media all and (max-width: 379px) {
  .mb-24-mob {
    margin-bottom: 24px; } }

.mr-16 {
  margin-right: 16px; }

.mt-24 {
  margin-top: 24px; }

.pt-12 {
  padding-top: 12px; }

.pb-12 {
  padding-bottom: 12px; }

.pt-20 {
  padding-top: 20px; }

.pb-20 {
  padding-bottom: 20px; }

.pb-24 {
  padding-bottom: 24px; }

.pb-8 {
  padding-bottom: 8px; }

.pt-8 {
  padding-top: 8px; }

.pl-8 {
  padding-left: 8px; }

.pr-8 {
  padding-right: 8px; }

.mb-24 {
  margin-bottom: 24px; }

.body-bg-img {
  background: url(/images/bg-pattern.gif); }

.bg-light-grey {
  background-color: #ebebeb; }

.bg-dark-grey {
  background-color: #e0e0e0; }

.black {
  color: #252525; }

.white {
  color: #fff; }

.green {
  color: #1fa67a; }

.red {
  color: #BF2C2C; }

.grey {
  color: #555; }

.block-gradient {
  background: #ffffff;
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
  border: 1px solid #d7d7d7; }

.Grey_Gradient {
  background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); }

input::-webkit-input-placeholder {
  color: #555 !important; }

input::-moz-placeholder {
  color: #000 !important; }

input:-ms-input-placeholder {
  color: #555 !important; }

div.top-bar {
  background-color: #CF2828; }
  div.top-bar .top-bar-left ul {
    background-color: #CF2828; }
  div.top-bar .top-bar-right ul {
    background-color: #CF2828; }

ul.menu a {
  color: #fff; }

ul.menu a:hover {
  color: #fff; }

@media all and (max-width: 639px) {
  ul.menu li {
    display: block; } }

ul.dropdown.menu > li.is-dropdown-submenu-parent > a:after {
  border-color: #fff transparent transparent; }

.venue-logo {
  font-family: "BebasNeueRegular";
  font-size: 38px; }
  .venue-logo .black {
    color: #000; }
  .venue-logo .white {
    color: #fff; }

div.top-bar {
  background-color: #CF2828; }
  div.top-bar .top-bar-left ul {
    background-color: #CF2828; }
  div.top-bar .top-bar-right ul {
    background-color: #CF2828; }

ul.menu a {
  color: #fff; }

ul.menu a:hover {
  color: #fff; }

@media all and (max-width: 639px) {
  ul.menu li {
    display: block; } }

ul.dropdown.menu > li.is-dropdown-submenu-parent > a:after {
  border-color: #fff transparent transparent; }

.customer-howto-redesign {
  max-width: 994px;
  margin: 0 auto;
  font-family: "Mon",Arial,sans-serif;
  padding-bottom: 16px; }
  .customer-howto-redesign .header {
    background: #fff;
    text-align: center;
    border: 1px solid #b7b7b7;
    border-radius: 4px 4px 0 0; }
    .customer-howto-redesign .header h1 {
      color: #BF2C2C;
      border-top: 1px dotted #b7b7b7;
      border-bottom: 1px dotted #b7b7b7;
      margin: 3px 4px;
      padding: 6px 0 3px;
      font-family: "Mon",Arial,sans-serif;
      font-weight: normal;
      font-size: 37px; }
      @media all and (max-width: 720px) {
        .customer-howto-redesign .header h1 {
          font-size: 30px; } }
      @media all and (max-width: 430px) {
        .customer-howto-redesign .header h1 {
          font-size: 24px; } }
  .customer-howto-redesign img {
    display: block; }
  .customer-howto-redesign .steps {
    border-right: 1px solid #b7b7b7;
    border-left: 1px solid #b7b7b7;
    border-bottom: 1px solid #b7b7b7;
    border-radius: 0 0 4px 4px;
    background: #fff; }
    .customer-howto-redesign .steps .dotted-border {
      margin: 0 4px 0 4px; }
      .customer-howto-redesign .steps .dotted-border ol {
        margin: 0;
        padding: 0;
        width: 100%;
        display: block;
        list-style: none; }
        .customer-howto-redesign .steps .dotted-border ol li {
          color: #BF2C2C;
          float: left;
          font-size: 14px;
          display: block;
          width: 33.2%;
          text-align: center; }
        .customer-howto-redesign .steps .dotted-border ol li:nth-child(2) {
          width: 33.3%; }
      .customer-howto-redesign .steps .dotted-border .three-pic-text {
        border-top: 1px dotted #b7b7b7;
        border-bottom: 1px dotted #b7b7b7;
        margin: 2px 0;
        padding: 12px 0; }

.home-descr-block {
  text-align: center;
  font-family: "Mon", Arial, sans-serif;
  font-size: 20px;
  color: #555555;
  line-height: 1.5em; }

.is-active-border {
  border: 3px solid #fff; }

.validation-result {
  height: 48px;
  width: 48px;
  position: absolute;
  right: 2%;
  top: 22%; }
  @media all and (max-width: 540px) {
    .validation-result {
      top: 10%; } }
  @media all and (max-width: 400px) {
    .validation-result {
      height: 34px;
      width: 34px; } }

.good {
  background: url(/images/icon-tick.png);
  background-repeat: no-repeat; }
  @media all and (max-width: 400px) {
    .good {
      background-size: 34px 34px; } }

.bad {
  background: url(/images/icon-cross.png);
  background-repeat: no-repeat; }
  @media all and (max-width: 400px) {
    .bad {
      background-size: 34px 34px; } }

ul.home-header-tabs {
  background: #252525;
  border: none; }
  ul.home-header-tabs .tabs-title.is-active img {
    border: 3px solid #fff; }
  @media all and (max-width: 440px) {
    ul.home-header-tabs .tabs-title img {
      display: none; } }
  ul.home-header-tabs .tabs-title a {
    text-align: center; }
    @media all and (max-width: 400px) {
      ul.home-header-tabs .tabs-title a {
        padding: 1.25rem 0.75rem; } }
  ul.home-header-tabs .tabs-title-width {
    width: 33%; }
  ul.home-header-tabs .ev-name {
    font-family: "Mon", Arial, sans-serif;
    font-size: 25px;
    margin: 16px 0 0 0;
    text-align: center;
    line-height: 18px;
    color: #fff; }
    @media all and (max-width: 580px) {
      ul.home-header-tabs .ev-name {
        font-size: 16px;
        line-height: 8px; } }

li.tabs-title > a:focus,
li.tabs-title > a[aria-selected=true] {
  background: none; }

li.tabs-title > a:hover {
  background: none; }

.home-section-header {
  position: relative;
  background: #BF2C2C;
  color: #fff;
  padding: 12px 58px 0;
  font-family: "Mon", Arial, sans-serif;
  line-height: 0.8; }
  @media all and (max-width: 400px) {
    .home-section-header {
      padding: 12px 40px 0; } }
  .home-section-header .step-number {
    font-size: 90px; }
    @media all and (max-width: 540px) {
      .home-section-header .step-number {
        font-size: 60px; } }
    @media all and (max-width: 400px) {
      .home-section-header .step-number {
        font-size: 40px; } }
  .home-section-header .step-title {
    font-size: 30px;
    vertical-align: 20px;
    margin-left: 20px; }
    @media all and (max-width: 540px) {
      .home-section-header .step-title {
        font-size: 20px;
        vertical-align: 16px; } }
    @media all and (max-width: 400px) {
      .home-section-header .step-title {
        font-size: 16px;
        vertical-align: 10px;
        margin-left: 10px; } }

div.home-tabs-content {
  background: #555555;
  border: none; }
  div.home-tabs-content .tabs-panel {
    text-align: center;
    padding: 32px 0 0 0; }
  div.home-tabs-content .home-tabs-content-block {
    padding: 0 16px 32px 16px;
    width: 180px;
    display: inline-block; }
    div.home-tabs-content .home-tabs-content-block .home-tabs-name {
      font-family: "Mon", Arial, sans-serif;
      font-size: 12px;
      margin: 10px 0 0 0;
      text-align: center;
      line-height: 13px;
      color: #fff; }

.step-column {
  padding: 40px; }
  @media all and (max-width: 440px) {
    .step-column {
      padding: 8px; } }

.venue-block-1 {
  width: 48%;
  float: left; }
  @media all and (max-width: 640px) {
    .venue-block-1 {
      width: 100%;
      float: none; } }
  .venue-block-1 .enquiry-input-field {
    background: url("/images/icon-location.png") 19px 7px no-repeat white;
    border: 1px solid #d7d7d7;
    margin-bottom: 16px;
    padding: 15px 15px 15px 55px;
    width: 100%;
    font-size: 14px;
    color: #555555;
    font-family: "Mon", Arial, sans-serif;
    border-radius: 0;
    height: auto; }
  .venue-block-1 .enquiry-select-field {
    display: inline-block; }
    .venue-block-1 .enquiry-select-field select {
      padding: 4px 0;
      background-color: #fff;
      font-size: 14px;
      color: #555555;
      height: auto; }
  .venue-block-1 .enquiry-form-button {
    padding: 24px 12px; }

.venue-block-2 {
  width: 48%;
  float: right; }
  @media all and (max-width: 640px) {
    .venue-block-2 {
      width: 100%;
      float: none; } }
  .venue-block-2 .map-holder {
    height: 248px;
    border: solid 1px #b7b7b7; }

.enquiry-form-button {
  cursor: pointer;
  position: relative;
  background: #252525;
  color: #fff;
  padding: 8px 16px 8px 8px;
  display: inline-block;
  text-transform: uppercase;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.4); }

.twitter-typeahead {
  width: 100%; }

.tt-menu {
  background-color: #fff;
  margin-left: 50px;
  padding: 16px; }
  .tt-menu .tt-suggestion {
    cursor: pointer; }

.dates-block {
  display: none; }

.date-type-row {
  width: 33%;
  float: left; }
  @media all and (max-width: 860px) {
    .date-type-row {
      width: 100%;
      float: none; } }

.dates-block-wrapper {
  width: 66%;
  float: right; }
  @media all and (max-width: 860px) {
    .dates-block-wrapper {
      width: 100%;
      float: none; } }
  .dates-block-wrapper .dates-block {
    width: 100%; }

.home-date-row {
  min-width: 208px;
  margin-right: 5%;
  float: left; }
  @media all and (max-width: 600px) {
    .home-date-row {
      width: 100%;
      float: none; } }

.home-time-row {
  width: 27%;
  margin-right: 2%;
  float: left; }
  .home-time-row:nth-child(3) {
    margin-right: 0; }
  @media all and (max-width: 920px) {
    .home-time-row {
      width: 24%; } }
  @media all and (max-width: 860px) {
    .home-time-row {
      width: 30%; } }
  @media all and (max-width: 750px) {
    .home-time-row {
      width: 27%; } }
  @media all and (max-width: 650px) {
    .home-time-row {
      width: 25%; } }
  @media all and (max-width: 600px) {
    .home-time-row {
      width: 100%;
      float: none; } }

.date-box {
  background: url(/images/icon-date.png) no-repeat;
  background-position: 97% 2px;
  background-color: #fff;
  width: 208px;
  height: 45px; }

.home-date-time {
  background: url(/images/icon-time.png) no-repeat;
  background-position: 97% 2px;
  background-color: #fff; }

.modify-day-link {
  margin-right: 16px;
  display: inline-block; }

.venue-level {
  background: #252525;
  padding: 38px;
  text-align: center; }

.level-holder {
  cursor: pointer;
  background: #A12323;
  padding: 40px 0;
  float: left;
  display: inline-block;
  width: 27%;
  margin-right: 9.5%;
  color: #fff; }
  .level-holder:nth-of-type(3) {
    margin-right: 0; }
  @media all and (max-width: 520px) {
    .level-holder {
      width: 100%;
      float: none;
      margin-right: 0;
      padding: 20px 0;
      margin-bottom: 16px; }
      .level-holder:nth-of-type(3) {
        margin-bottom: 0; } }

.enquiry-checkbox-field {
  margin: 16px 0 0 0; }
  .enquiry-checkbox-field .enquiry-checkbox-div {
    width: 30px;
    height: 30px;
    border: 1px solid #d7d7d7;
    background: #fff;
    display: inline-block;
    cursor: pointer; }
    .enquiry-checkbox-field .enquiry-checkbox-div input {
      display: none; }
    .enquiry-checkbox-field .enquiry-checkbox-div.ticked {
      background-image: url(/images/icon-tick.jpg); }
  .enquiry-checkbox-field span {
    padding: 0 0 0 5px;
    vertical-align: 8px; }
  .enquiry-checkbox-field .tooltip {
    width: 16px;
    height: 16px; }

input.input-field-style,
select.input-field-style {
  border-radius: 0;
  border: 1px solid #d7d7d7;
  margin-bottom: 16px;
  padding: 15px 15px 15px 55px;
  width: 100%;
  font-size: 14px;
  color: #555555;
  box-shadow: none;
  height: auto; }

.step-column-full {
  padding: 40px;
  width: 100%; }

.step-column-resp {
  padding: 40px;
  width: 50%; }
  @media all and (min-width: 820px) and (max-width: 920px) {
    .step-column-resp {
      padding: 16px; } }
  @media all and (max-width: 820px) {
    .step-column-resp {
      width: 100%; } }
  @media all and (max-width: 440px) {
    .step-column-resp {
      padding: 8px; } }

#Av_Facilities_Options, #Entertainment_Options, #Food_Options, #Drinks_Options {
  display: none; }

.options-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }

.options-list .enquiry-checkbox-field {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

@media all and (max-width: 484px) {
  .step-column-small-resp {
    width: 100%; } }

div.budget-overall {
  padding-bottom: 32px;
  width: 50%;
  padding-right: 40px; }
  @media all and (max-width: 500px) {
    div.budget-overall {
      width: 100%;
      padding-right: 0;
      padding-bottom: 0; } }

div.budget-perhead {
  padding-bottom: 32px;
  border-left: 1px solid #D7D7D7;
  position: relative;
  width: 50%;
  padding-left: 40px; }
  @media all and (max-width: 500px) {
    div.budget-perhead {
      width: 100%;
      border-left: none;
      padding-left: 0;
      padding-bottom: 0; } }
  div.budget-perhead .gudget-or-div {
    position: absolute;
    background-color: #F3F3F3;
    padding: 16px;
    top: 24px;
    left: -28px;
    font-size: 14px; }
    @media all and (max-width: 500px) {
      div.budget-perhead .gudget-or-div {
        display: none; } }

.send-button {
  padding: 16px 16px 16px 16px; }

.personal-details-left {
  width: 50%;
  padding-right: 40px;
  padding-bottom: 8px; }
  @media all and (max-width: 700px) {
    .personal-details-left {
      padding-right: 20px; } }
  @media all and (max-width: 620px) {
    .personal-details-left {
      padding-right: 0;
      padding-bottom: 0;
      width: 100%; } }

.home-page-description-wrap {
  border: 1px solid #d7d7d7;
  padding: 4px;
  background: #fff; }

.home-page-description {
  border-top: 1px dotted #b7b7b7;
  border-bottom: 1px dotted #b7b7b7;
  color: #555555;
  font-size: 14px;
  line-height: 1.4em;
  padding: 20px 24px 0 24px; }
  .home-page-description .home-page-description-h2 {
    color: #CF2828;
    font-size: 16px;
    font-family: "Mon",Arial,sans-serif; }

.footer-links-holder h3 {
  font-family: "Mon",Arial,sans-serif;
  font-size: 16px;
  color: #555555;
  margin-top: 0;
  margin-bottom: 8px; }

.footer-links-holder ul {
  list-style: none;
  margin: 0; }
  .footer-links-holder ul li a {
    color: #555555;
    text-decoration: none;
    font-size: 12px; }

.logo-slogan-section {
  margin-top: 30px; }

.footer-venue-sign {
  font-family: "DJ5";
  color: #555555;
  font-size: 16px; }

@media all and (max-width: 680px) {
  .venue-mob-none {
    display: none; } }

@media all and (max-width: 680px) {
  div.venue-mob-full {
    width: 100%; } }

@media all and (min-width: 380px) and (max-width: 680px) {
  div.venue-mob-3-col {
    width: 33.33333%; } }

.bottom-line-wrapper {
  color: #acacac;
  font-size: 11px; }
  .bottom-line-wrapper a {
    color: #acacac; }
  @media all and (max-width: 560px) {
    .bottom-line-wrapper span.float-left {
      float: none !important; }
    .bottom-line-wrapper span.float-right {
      float: none !important; } }

.personal-details-right {
  width: 50%;
  padding-left: 40px;
  padding-bottom: 8px; }
  @media all and (max-width: 700px) {
    .personal-details-right {
      padding-left: 20px; } }
  @media all and (max-width: 620px) {
    .personal-details-right {
      padding-left: 0;
      width: 100%; } }

.Login_Admin {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.Login_Panel {
  width: 400px;
  margin: 30px 0; }

.Login_Submit {
  background: #015e94;
  background: linear-gradient(#28a0e5, #015e94);
  height: 44px;
  width: 100%;
  color: #fff; }

.Subscription_Block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.Admin_Panel {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-top: 10px; }

.Admin_Navigation {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem; }

.Admin_Navigation_Link {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  list-style: none;
  text-align: center; }

.Admin_Navigation_Link a {
  padding: 0.9rem 1rem 0.75rem;
  font-size: 0.875rem;
  color: #323232;
  text-transform: capitalize;
  display: block;
  font-weight: bold;
  letter-spacing: 1px;
  border: 1px solid #d7d7d7;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 0;
  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2); }

.Admin_Navigation_Link:nth-last-child(1) a {
  border: none;
  box-shadow: none; }

.Panel_Title {
  border: 1px solid #ccc;
  border-bottom: none;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  padding: 10px; }
  .Panel_Title h4 {
    margin-bottom: 0;
    text-transform: capitalize; }

.Panel_Title span {
  float: right;
  margin: 7px; }

.Panel_Content {
  border: 1px solid #ccc;
  border-top: none;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px; }

.Panel_Content .accordion-content a {
  display: block; }

@media (max-width: 639px) {
  .Admin_Navigation {
    display: block; }
  .Admin_Navigation_Link {
    display: block; } }

.card {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #272727;
  border-radius: 2px; }
  .card .title {
    line-height: 1rem;
    font-size: 1.1rem;
    font-weight: 300; }
  .card .content {
    padding: 1rem 1.3rem;
    font-weight: 300;
    border-radius: 0 0 2px 2px; }
  .card p {
    margin: 0; }
  .card .action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 1.3rem; }
  .card a {
    color: #ffab40;
    margin-right: 1.3rem;
    transition: color 0.3s ease;
    text-transform: uppercase;
    text-decoration: none; }
  .card .image {
    position: relative; }
    .card .image .title {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 1.3rem;
      color: #fff; }
    .card .image img {
      border-radius: 2px 2px 0 0; }

.Enquiry_Box {
  display: inline-block;
  float: left; }

.Enquiry_Detail td {
  text-align: center; }

.Credit_Block {
  text-align: center; }

.Credit_Block_Content {
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 10px; }

li.Enquiries_Tab > a:focus, li.Enquiries_Tab > a[aria-selected=true] {
  background: #CF2828;
  color: #fff; }

.User_Quotes_Table {
  width: 50%;
  margin: 0 auto; }
  .User_Quotes_Table tbody {
    background-color: transparent;
    border: none; }
  .User_Quotes_Table tbody tr:nth-child(even) {
    background-color: transparent; }

.User_Quote_Summary_Table thead {
  background: #000;
  color: #fff; }

.Enquiries_Tab_Content_Block h4 {
  border-bottom: 1px solid #ccc; }

.No_Border {
  border: none !important; }

.reg-header {
  padding: 4px 0; }

.reg-dotted-border {
  border-top: 1px dotted #b7b7b7;
  border-bottom: 1px dotted #b7b7b7; }

.note {
  font-size: 12px;
  color: #acacac; }

div.register-form-bg {
  background-color: #BF2C2C;
  padding: 44px 50px; }

.form-right-border {
  border-right: 1px solid #CE5757;
  padding-right: 32px; }
  @media all and (max-width: 1023px) {
    .form-right-border {
      border-right: none;
      padding-right: 0; } }

.reg-form-h2 {
  color: #fff;
  font-size: 27px;
  font-weight: normal;
  margin: 0 0 24px 0; }
  @media all and (max-width: 370px) {
    .reg-form-h2 {
      font-size: 20px;
      line-height: 45px; } }

#register_form input {
  padding: 15px 41px 15px 15px;
  height: auto; }

.leads-holder ul {
  list-style: none;
  margin: 0; }
  .leads-holder ul li {
    margin-bottom: 24px;
    display: inline-block; }
    @media all and (max-width: 1023px) {
      .leads-holder ul li {
        margin-right: 16px; } }
    .leads-holder ul li a {
      text-decoration: none; }

.lead-details {
  width: 224px;
  height: 145px;
  margin: 0 auto;
  position: relative; }

.leads-text-block {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 224px;
  height: 145px; }

.black-50-bg {
  background-color: #000;
  height: 145px;
  filter: alpha(opacity=50);
  opacity: 0.5; }

div.static-new-header {
  background-color: #C02B2D; }
  div.static-new-header h1 {
    color: #fff;
    font-family: "Mon", Arial, sans-serif;
    font-size: 30px;
    margin: 0;
    padding: 20px 0 20px 30px; }

div.static-new-content {
  padding: 30px;
  border: 1px solid #D5D5D5; }
  div.static-new-content h2 {
    color: #BE2721;
    font-weight: bold;
    font-size: 16px; }
  div.static-new-content p {
    font-size: 14px;
    color: #555555; }
  div.static-new-content img {
    margin-left: 32px;
    margin-bottom: 32px;
    border: 1px solid #d5d5d5; }
    @media all and (max-width: 440px) {
      div.static-new-content img {
        float: none !important;
        text-align: center;
        margin: 0; } }

/*# sourceMappingURL=app.css.map */
