
div.static-new-header{
	background-color:#C02B2D;;
	h1{
		color: #fff;
	    font-family: "Mon", Arial, sans-serif;
	    font-size: 30px;
	   	margin:0;
	    padding: 20px 0 20px 30px;
	}
}
div.static-new-content{
    padding: 30px;
    border: 1px solid #D5D5D5;
	h2{
		color: #BE2721;
	    font-weight: bold;
	    font-size: 16px;
	}
	p{
		font-size: 14px;
	    color: #555555
	}
	img{
		margin-left:32px;
		margin-bottom:32px;
		border: 1px solid #d5d5d5;
		@media all and (max-width:440px){
			float:none!important;
			text-align: center;
			margin:0;

		}
	}
}   