.reg-header{
	padding:4px 0;
}
.reg-dotted-border{
    border-top: 1px dotted #b7b7b7;
    border-bottom: 1px dotted #b7b7b7;
}
.note{
	font-size: 12px;
    color: #acacac;
}
div.register-form-bg{
	background-color: #BF2C2C;
	padding: 44px 50px
}
.form-right-border{
	border-right: 1px solid #CE5757;
	padding-right: 32px;
	@media all and (max-width:1023px){border-right: none; padding-right: 0;}
}
.reg-form-h2{
	color: #fff;
    font-size: 27px;
    font-weight: normal;
    margin: 0 0 24px 0;
    @media all and (max-width:370px){
		font-size: 20px;
	    line-height: 45px;
    }
}
#register_form{
	input{
		padding: 15px 41px 15px 15px;
		height: auto;
	}
}


.leads-holder{
	ul{
		list-style: none;
		margin:0;
		li{
			margin-bottom: 24px;
			display:inline-block;
			@media all and (max-width:1023px){
				margin-right: 16px;
			}
			a{
				text-decoration: none;
			}
		}
	}
}
.lead-details{
	width: 224px;
    height: 145px;
    margin: 0 auto;
    position: relative;
}
.leads-text-block{
	position: absolute;
	top: 0px;
	left:0px;
	width: 224px;
    height: 145px;
}
.black-50-bg{
	background-color:#000;
	height: 145px;
	filter: alpha(opacity=50);
	opacity: 0.5;
}